// ======================================================
// Pages :: Address
// ======================================================

.section-address {
  margin-bottom: 52px;

  &__title {
    position: relative;
    margin-bottom: 45px;
    text-transform: uppercase;
    @include arrow-icon(-31px, 0);

    &-sub {
      margin-bottom: 26px;
    }
  }

  &__your-address {
    font-size: $font-size-large;
    text-transform: uppercase;
  }

  &__add-address {
    background-color: transparent;
    border: 0;
    color: $colors-blue-1;
    font-size: $font-size-large;

    &:hover {
      color: $colors-blue-1;
      text-decoration: underline;
    }
  }

  &__border {
    border-bottom: 1px solid $colors-black-4;
  }

  &__lg-sub {
    @include media-breakpoint-down(lg) {
      border-bottom: 1px solid $colors-black-4;
    }
  }

  &__form {
    padding-bottom: 34px;

    &-control {
      display: flex;
      flex-wrap: wrap;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__item {
    color: $colors-black-16;
    user-select: none;

    &:first-child {
      flex: 15%;

      @include media-breakpoint-down(xs) {
        flex: 41%;
      }
    }

    &:last-child {
      flex: 70%;

      @include media-breakpoint-down(xs) {
        flex: 60%;
      }
    }
  }

  &__input {
    padding: 4px 13px;
    font-size: $font-size-medium;
    border: 1px solid $colors-gray-14;

    @include media-breakpoint-down(xs) {
      margin-top: 10px;
    }
  }

  &__label {
    &-check {
      margin-left: 12px;
      color: $colors-black-6;
      font-size: $font-size-medium;
    }

    &-title {
      margin: auto;
      font-size: $font-size-medium;
    }
  }

  &__button {
    padding: 5px 18px;
    color: $colors-white;
    font-size: $font-size-medium;
    border: 0;

    &--edit {
      background-color: $colors-blue-1;
      margin-right: 7px;
    }

    &--delete {
      background-color: $colors-black-11;
    }
  }

  &__box {
    position: relative;
    display: inline-block;

    &:before {
      content: '\f0d7';
      position: absolute;
      @include square(20px);
      top: 50%;
      right: 0;
      font-family: $font-fontawesome;
      text-align: center;
      pointer-events: none;
      transform: translate(-20%, -50%);
    }

    &__select {
      width: 100%;
      padding: 4px 13px;
      background-color: $colors-white;
      border: 1px solid $colors-gray-14;
      border-radius: 0;
      outline: none;
      appearance: button;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;

    &-wrap {
      padding: 32px 0;
    }
    /* stylelint-disable */

    &__item {
      font-size: $font-size-medium;

      &:first-child {
        flex: 15%;

        @include media-breakpoint-down(xs) {
          flex: 41%;
        }
      }

      &:last-child {
        flex: 70%;

        @include media-breakpoint-down(xs) {
          flex: 60%;
        }
      }
    }
    /* stylelint-enable */
  }

  &__edit {
    display: flex;
    justify-content: flex-end;
  }
}
